            .box {
                border-radius: 25px;
                float: left;
                width: 50px;
                height: 50px;
                padding: 10px;
                margin-left: 5em;
                
            }
            
            .box2 {
                border-radius: 25px;
                border: solid;
                border-color: black;
                float: right;
                width 50px;
                height: 25px;
                padding: 10px;
                margin-right: 5em;
                margin-top: .5em;
                
            }
        
            h1 {
                clear:left;
                text-align: center;
                font-family: arial, helvetica, sans-serif;
                font-size: 2em;
                padding-top: 100px;
            }
            
            h2 {
                text-align: center;
                font-family: arial, helvetica, sans-serif;
                color: #ff0000;
                font-size: 1em;
                padding: 10px;
                margin-bottom: 2em;
                
            }
            
            .box3 {
                padding:10px;
                margin: 2em;
                
            }
            
            .box4 {
                position: relative;
            }
            
            .box5 {
                position: relative;
                top: -60px;
                background-color: #021053;
                padding: 10px;
                margin-left: 2em;
                margin-right: 2em;
            }
            
            .box6 {
                box-sizing: border-box; 
                position: relative;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                top: -90px;
                width: 900px;
                height: 500px;
                border-radius: 25px;
                background-color: white;
            }
            
            .box7 { 
                display: block;
                height: 500px;
                width: 300px;
                border: 1px solid;
                border-color: #021053;
                background-color: white;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
            
            .box8 {
                display: block;
                height: 500px;
                width: 300px;
                border: 1px solid;
                border-color: #021053;
                background-color: white;
            }
            
            .box9 {
                display: block;
                height: 500px;
                width: 300px;
                border: 1px solid;
                border-color: #021053;
                background-color: white;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px; 
            }
            
            .box10 {
                box-sizing: border-box; 
                position: relative;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2em;
                width: 900px;
                height: 300px;
                border-radius: 25px;
                background-color: white;
                padding: 50px;
                background-image: url("nick2nd.png");
            }
            
            .box11 {
                box-sizing: border-box; 
                position: relative;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                top: -90px;
                width: 900px;
                height: 200px;
                border-radius: 25px;
            }
            
            .box12 { 
                display: inline-block;
                height: 200px;
                width: 200px;
                border: 1px solid;
                border-color: #021053;
                background-color: white;
                border-top-left-radius: 25px;
                border-radius: 25px;
                margin-left: auto;
                margin-right: auto;
            }
            
            .box13 {
                position: relative;
                display: float;
                bottom: -175px;
                height: 500px;
                background-color: #021053;
                padding: 10px;
                margin-left: 2em;
                margin-right: 2em;
                
            }
            
            
            .p1 {
                color: white;
                font-size: 2em;
                text-align: center;
            }
            
            .p2 {
                color: white;
                text-align: center;
                padding-left: 200px;
                padding-right: 200px;
                margin: 2em;
            }
            
            .p3 {
                color: black;
                font-size: 12px;
                text-align: center;
                margin: 2em;
                height: 70px;
            }
            
            .p4 {
                color: black;
                font-size: 12px;
                text-align: center;
                margin: 2em;
                height: 20px;
            }
            
            .p5 {
                color: blue;
                font-size: 12px;
                text-align: center;
                margin: 2em;
                height: 20px;
            }
            
            .p6 {
                color: white;
                font-size: 18px;
                text-align: center;
                margin: 2em;
            }
            
            .p7 {
                color: white;
                font-size: 12px;
                text-align: center;
                padding-top: 15px;
                margin: 2em;
            }
            
            .p8 {
                color: white;
                font-size: 10px;
                text-align: center;
                padding-top: 15px;
                margin: 2em;
            }
            
            
            
            .h3 {
                color: blue;
                font-size: 12px;
                text-align: center;
                height: 15px;
                margin: 2em;
            }
            
            .h4 {
                color: black;
                font-size: 20px;
                text-align: center;
                margin: 1em;
            }
            
            .button {
                display: block;
                font-size: 10px;
                color: blue;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
                height: 50px;
                border: solid;
                border-color: blue;
                background-color: white;
                border-radius: 25px;
            }
            
            .button:hover {
                border-color: yellow;
                background-color: tan;
            }
            
            .button2 {
                display: block;
                font-size: 10px;
                color: white;
                text-align: center;
                margin: auto;
                margin-top: 25px;
                width: 200px;
                height: 50px;
                border: solid;
                border-color: blue;
                background-color: #293346;
                border-radius: 25px;
            }
            
            .list {
                color: black;
                font-size: 10px;
                text-align: center;
                list-style-type: none;
                height: 100px;
                margin-top: auto;
                margin-right: 4em;
                margin-bottom: auto;
                
                
            }
            
            #img1 {
                width: 50 px;
                width: 50px;
                text-align: right;
            }
            
            #img2 {
                height: 25px;
                width: 25px;
            }
            
            #img3 {
                display: block;
                Margin-left: auto;
                margin-right: auto;
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
            
            #img4 {
                display: block;
                Margin-left: auto;
                margin-right: auto;
                height: 400px;
                width: 400px;
                border-radius: 50%;
            }
            
            #img5 {
                display:block;
                height: 50px;
                width: 50px;
                margin: auto;
                top: 400px;
            }
            
            #img6 {
                display: block;
                height: 40px;
                width: 40px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 25px;
            }
            
            
            #logo {
                display: block;
                height: 100px;
                width: 100px;
                padding: 20px;
                margin: auto;
            }
            
            #pic {
                display: block;
                height: 300px;
                width: 200px;
                margin: 2em;
                border-radius: 25px;
                
            }
            
            .hr {
                border-top: 2px solid grey;
                margin-bottom: 10em;
            }
            
            #pic2 {
                display: inline-block;
                height:100px;
                width: 100px;
                border-radius: 50px;
                margin: 1em; 
            }
            
            #pic3 {
                display: block;
                height:100px;
                width: 100px;
                border-radius: 50px;
                margin: auto;
            }
            
            #pic4 {
                display: block;
                height: 400px;
                width: 800px;
                margin: auto;
                border-radius: 25px;
                
            }
            
            .container {
                box-sizing: border-box; 
                position: relative;
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                width: 900px;
                border-radius: 10px;
                background-color: white;
                top:-400px;
            }
            
            .container2 {
                display: block;
                height: 150px;
            }
            
            .inner1 {
                display: block;
                height: 100px;
                width: 300px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-color: #293346 
            }
            
            .inner2 {
                display: block;
                height: 100px;
                width: 300px;
                background-color: #293346;
            }
            
            .inner3 {
                display: block;
                height: 100px;
                width: 300px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #293346;
            }
            